
/*
!/force-app/
!.gitignore
!README.md
!sfdx-project.json
!/testing/
/testing/tsystest02/node_modules/
/testing/tsystest02/results/
/testing/tsystest02/.chrome-profile/
/force-app/main/default/profiles